# Use the public npm registry for all packages by default
registry=https://registry.npmjs.org/

# Use AWS CodeArtifact for your scoped packages
@lib.setup:registry=https://ideariver-171538455264.d.codeartifact.us-east-2.amazonaws.com/npm/lib.setup/
//ideariver-171538455264.d.codeartifact.us-east-2.amazonaws.com/npm/lib.setup/:always-auth=true
//ideariver-171538455264.d.codeartifact.us-east-2.amazonaws.com/npm/lib.setup/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
